<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Docker</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:46:10Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Docker</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Docker</string>
				</dict>
			</dict>
			<key>Dockerfile</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:46:10Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Dockerfile</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Dockerfile</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:46:22Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Git_Flow</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:46:20Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git Flow</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git_Flow</string>
				</dict>
			</dict>
			<key>HTML_Entities</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:46:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Entities</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Entities</string>
				</dict>
			</dict>
			<key>HTML_Head_Elements</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:46:29Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Head Elements</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Head_Elements</string>
				</dict>
			</dict>
			<key>HTTP_Header_Fields</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:46:33Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Header Fields</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Header_Fields</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:46:31Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes_Rails</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:46:32Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>HTTP Status Codes Ruby on Rails</string>
						<string>HTTP Status Codes for Ruby on Rails</string>
						<string>HTTP Status Codes Rails</string>
						<string>HTTP Status Codes for RoR</string>
					</array>
					<key>name</key>
					<string>HTTP Status Codes for Rails</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes_Rails</string>
				</dict>
			</dict>
			<key>Kubernetes</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:29:29Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Kubernetes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Kubernetes</string>
				</dict>
			</dict>
			<key>LaTeX_Math_Symbols</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:28:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>LaTeX Math Symbols</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>LaTeX_Math_Symbols</string>
				</dict>
			</dict>
			<key>Mac_Startup_Keys</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:46:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>mac os x startup keys</string>
						<string>macosx startup keys</string>
					</array>
					<key>name</key>
					<string>Mac Startup Keys</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Mac_Startup_Keys</string>
				</dict>
			</dict>
			<key>Rails_Migrations_CLI</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:47:06Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Ruby on Rails</string>
						<string>RoR</string>
					</array>
					<key>name</key>
					<string>Rails Migrations CLI</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Rails_Migrations_CLI</string>
				</dict>
			</dict>
			<key>Rails_i18n</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:47:07Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Ruby on Rails</string>
						<string>RoR</string>
					</array>
					<key>name</key>
					<string>Rails i18n</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Rails_i18n</string>
				</dict>
			</dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:47:11Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
			<key>Ruby_strftime</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:47:13Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Ruby strftime</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Ruby_strftime</string>
				</dict>
			</dict>
			<key>SMTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:29:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>SMTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>SMTP_Status_Codes</string>
				</dict>
			</dict>
			<key>Unix_File_Permissions</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:47:29Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>chmod</string>
					</array>
					<key>name</key>
					<string>Unix File Permissions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Unix_File_Permissions</string>
				</dict>
			</dict>
			<key>Vim</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:47:30Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vim</string>
				</dict>
			</dict>
			<key>Visual_Studio_Code</key>
			<dict>
				<key>date</key>
				<date>2020-12-21T08:21:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Visual Studio Code</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Visual_Studio_Code</string>
				</dict>
			</dict>
			<key>YAML</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:30:19Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>YAML</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>YAML</string>
				</dict>
			</dict>
			<key>Yard</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:30:08Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>ruby</string>
					</array>
					<key>name</key>
					<string>Yard</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Yard</string>
				</dict>
			</dict>
			<key>iTerm2</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:46:40Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>iTerm2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iTerm2</string>
				</dict>
			</dict>
			<key>strftime_Format_Codes</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:29:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>strftime Format Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>strftime_Format_Codes</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>cancan</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:51:53Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>cancan</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>cancan</string>
				</dict>
			</dict>
			<key>devise</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:36:42Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>devise</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>devise</string>
				</dict>
			</dict>
			<key>stripe</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:51:52Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>stripe</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>stripe</string>
				</dict>
			</dict>
			<key>twilio</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:52:00Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>twilio</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>twilio</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>HTTP</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:31:19Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/HTTP#readme</string>
					<key>authorLinkText</key>
					<string>Ice White</string>
					<key>name</key>
					<string>HTTP</string>
					<key>platform</key>
					<string>usercontribHTTP</string>
					<key>uniqueIdentifier</key>
					<string>HTTP</string>
				</dict>
			</dict>
			<key>Kotlin</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:31:36Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Kotlin#readme</string>
					<key>authorLinkText</key>
					<string>Alexander Ronald Altman</string>
					<key>name</key>
					<string>Kotlin</string>
					<key>platform</key>
					<string>usercontribKotlin</string>
					<key>uniqueIdentifier</key>
					<string>Kotlin</string>
				</dict>
			</dict>
			<key>Kubernetes</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:31:10Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>kubernetes</string>
						<string>kubectl</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Kubernetes#readme</string>
					<key>authorLinkText</key>
					<string>John Patterson</string>
					<key>name</key>
					<string>Kubernetes</string>
					<key>platform</key>
					<string>usercontribKubernetes</string>
					<key>uniqueIdentifier</key>
					<string>Kubernetes</string>
				</dict>
			</dict>
			<key>Neovim</key>
			<dict>
				<key>date</key>
				<date>2020-08-07T07:47:52Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Nvim</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Neovim#readme</string>
					<key>authorLinkText</key>
					<string>ianding1</string>
					<key>name</key>
					<string>Neovim</string>
					<key>platform</key>
					<string>usercontribNeovim</string>
					<key>uniqueIdentifier</key>
					<string>Neovim</string>
				</dict>
			</dict>
			<key>Requests-html</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:31:58Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Requests-html#readme</string>
					<key>authorLinkText</key>
					<string>AllanLRH</string>
					<key>name</key>
					<string>Requests-HTML</string>
					<key>platform</key>
					<string>usercontribRequests-html</string>
					<key>uniqueIdentifier</key>
					<string>Requests-html</string>
				</dict>
			</dict>
			<key>RuboCop</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:31:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Rubocop</string>
						<string>rubocop</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/RuboCop#readme</string>
					<key>authorLinkText</key>
					<string>Étienne Deparis</string>
					<key>name</key>
					<string>RuboCop</string>
					<key>platform</key>
					<string>usercontribRuboCop</string>
					<key>uniqueIdentifier</key>
					<string>RuboCop</string>
				</dict>
			</dict>
			<key>Yarn</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:32:33Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Yarn#readme</string>
					<key>authorLinkText</key>
					<string>Phill Ayers</string>
					<key>name</key>
					<string>Yarn</string>
					<key>platform</key>
					<string>usercontribYarn</string>
					<key>uniqueIdentifier</key>
					<string>Yarn</string>
				</dict>
			</dict>
			<key>Zsh</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:32:30Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Zsh#readme</string>
					<key>authorLinkText</key>
					<string>Marcus Adair</string>
					<key>name</key>
					<string>Zsh</string>
					<key>platform</key>
					<string>usercontribZsh</string>
					<key>uniqueIdentifier</key>
					<string>Zsh</string>
				</dict>
			</dict>
			<key>tldr</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:32:16Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>tldr</string>
						<string>tldr;</string>
						<string>man pages</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/tldr#readme</string>
					<key>authorLinkText</key>
					<string>Moddus</string>
					<key>name</key>
					<string>tldr pages</string>
					<key>platform</key>
					<string>usercontribtldr</string>
					<key>uniqueIdentifier</key>
					<string>tldr</string>
				</dict>
			</dict>
			<key>webpack</key>
			<dict>
				<key>date</key>
				<date>2020-12-12T09:32:24Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>web pack</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/webpack#readme</string>
					<key>authorLinkText</key>
					<string>Matija Marohnić, Guill Lo</string>
					<key>name</key>
					<string>webpack</string>
					<key>platform</key>
					<string>usercontribwebpack</string>
					<key>uniqueIdentifier</key>
					<string>webpack</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>actuallyDarkWebView</key>
	<false/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict/>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_6.xml</key>
			<dict>
				<key>date</key>
				<date>2020-09-08T13:42:01Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<false/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Ruby_2.xml</key>
			<dict>
				<key>2.7.2</key>
				<dict>
					<key>date</key>
					<date>2020-12-12T09:29:05Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_5.xml</key>
			<dict/>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Ruby_2.xml</key>
			<dict>
				<key>2.6.5</key>
				<dict>
					<key>date</key>
					<date>2020-12-12T09:28:51Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_5.xml</key>
			<dict>
				<key>5.2.4</key>
				<dict>
					<key>date</key>
					<date>2020-12-12T09:29:00Z</date>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
</dict>
</plist>
