<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>HTTP_Status_Codes_Rails</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:10:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>HTTP Status Codes Ruby on Rails</string>
						<string>HTTP Status Codes for Ruby on Rails</string>
						<string>HTTP Status Codes Rails</string>
						<string>HTTP Status Codes for RoR</string>
					</array>
					<key>name</key>
					<string>HTTP Status Codes for Rails</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes_Rails</string>
				</dict>
			</dict>
			<key>PostgreSQL_CLI</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:10:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>PostgreSQL CLI</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>PostgreSQL_CLI</string>
				</dict>
			</dict>
			<key>RSpec_Expectations</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:10:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>ruby</string>
					</array>
					<key>name</key>
					<string>RSpec Expectations</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>RSpec_Expectations</string>
				</dict>
			</dict>
			<key>Rails_Migrations_CLI</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:10:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Ruby on Rails</string>
						<string>RoR</string>
					</array>
					<key>name</key>
					<string>Rails Migrations CLI</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Rails_Migrations_CLI</string>
				</dict>
			</dict>
			<key>Rails_i18n</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:10:47Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Ruby on Rails</string>
						<string>RoR</string>
					</array>
					<key>name</key>
					<string>Rails i18n</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Rails_i18n</string>
				</dict>
			</dict>
			<key>Ruby_strftime</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:10:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Ruby strftime</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Ruby_strftime</string>
				</dict>
			</dict>
			<key>Semantic_Commits</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:10:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>git svn source control hg mercurial</string>
					</array>
					<key>name</key>
					<string>Semantic Commits</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Semantic_Commits</string>
				</dict>
			</dict>
			<key>Unix_File_Permissions</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:10:47Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>chmod</string>
					</array>
					<key>name</key>
					<string>Unix File Permissions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Unix_File_Permissions</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>Docker</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Docker</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Docker</string>
				</dict>
			</dict>
			<key>Dockerfile</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Dockerfile</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Dockerfile</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:05Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Git_Flow</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git Flow</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git_Flow</string>
				</dict>
			</dict>
			<key>HTML_Entities</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Entities</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Entities</string>
				</dict>
			</dict>
			<key>HTML_Head_Elements</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:04Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Head Elements</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Head_Elements</string>
				</dict>
			</dict>
			<key>HTTP_Header_Fields</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:03Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Header Fields</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Header_Fields</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:04Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes</string>
				</dict>
			</dict>
			<key>Kubernetes</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:05Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Kubernetes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Kubernetes</string>
				</dict>
			</dict>
			<key>LaTeX_Math_Symbols</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:04Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>LaTeX Math Symbols</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>LaTeX_Math_Symbols</string>
				</dict>
			</dict>
			<key>Mac_Startup_Keys</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:05Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>mac os x startup keys</string>
						<string>macosx startup keys</string>
					</array>
					<key>name</key>
					<string>Mac Startup Keys</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Mac_Startup_Keys</string>
				</dict>
			</dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:04Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
			<key>SMTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>SMTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>SMTP_Status_Codes</string>
				</dict>
			</dict>
			<key>Vim</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vim</string>
				</dict>
			</dict>
			<key>Visual_Studio_Code</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:05Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Visual Studio Code</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Visual_Studio_Code</string>
				</dict>
			</dict>
			<key>YAML</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:04Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>YAML</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>YAML</string>
				</dict>
			</dict>
			<key>Yard</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:05Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>ruby</string>
					</array>
					<key>name</key>
					<string>Yard</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Yard</string>
				</dict>
			</dict>
			<key>iTerm2</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:03Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>iTerm2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iTerm2</string>
				</dict>
			</dict>
			<key>strftime_Format_Codes</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>strftime Format Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>strftime_Format_Codes</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>rspec-core</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:12:02Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec-core</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec-core</string>
				</dict>
			</dict>
			<key>rspec-expectations</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:12:01Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec-expectations</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec-expectations</string>
				</dict>
			</dict>
			<key>sidekiq</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:12:02Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>sidekiq</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>sidekiq</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>cancan</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:01Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>cancan</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>cancan</string>
				</dict>
			</dict>
			<key>devise</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:01Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>devise</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>devise</string>
				</dict>
			</dict>
			<key>rspec</key>
			<dict>
				<key>date</key>
				<date>2021-01-05T12:31:00Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec</string>
				</dict>
			</dict>
			<key>rspec-rails</key>
			<dict>
				<key>date</key>
				<date>2021-05-31T14:25:29Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>rspec-rails</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>rspec-rails</string>
				</dict>
			</dict>
			<key>stripe</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:02Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>stripe</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>stripe</string>
				</dict>
			</dict>
			<key>twilio</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:01Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>twilio</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>twilio</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>CanIUse</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:12:33Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Can I use</string>
						<string>CanIUse</string>
						<string>caniuse.com</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/CanIUse#readme</string>
					<key>authorLinkText</key>
					<string>Paweł Golonko</string>
					<key>name</key>
					<string>Can I use…</string>
					<key>platform</key>
					<string>usercontribCanIUse</string>
					<key>uniqueIdentifier</key>
					<string>CanIUse</string>
				</dict>
			</dict>
			<key>HTTP</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:12:56Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/HTTP#readme</string>
					<key>authorLinkText</key>
					<string>Ice White</string>
					<key>name</key>
					<string>HTTP</string>
					<key>platform</key>
					<string>usercontribHTTP</string>
					<key>uniqueIdentifier</key>
					<string>HTTP</string>
				</dict>
			</dict>
			<key>Hammerspoon</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:12:33Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Hammerspoon#readme</string>
					<key>authorLinkText</key>
					<string>Hammerspoon Team</string>
					<key>name</key>
					<string>Hammerspoon</string>
					<key>platform</key>
					<string>usercontribHammerspoon</string>
					<key>uniqueIdentifier</key>
					<string>Hammerspoon</string>
				</dict>
			</dict>
			<key>Neovim</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:12:33Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Nvim</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Neovim#readme</string>
					<key>authorLinkText</key>
					<string>ianding1</string>
					<key>name</key>
					<string>Neovim</string>
					<key>platform</key>
					<string>usercontribNeovim</string>
					<key>uniqueIdentifier</key>
					<string>Neovim</string>
				</dict>
			</dict>
			<key>jq</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:12:33Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/jq#readme</string>
					<key>authorLinkText</key>
					<string>Mattias Wadman</string>
					<key>name</key>
					<string>jq</string>
					<key>platform</key>
					<string>usercontribjq</string>
					<key>uniqueIdentifier</key>
					<string>jq</string>
				</dict>
			</dict>
			<key>tldr</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:12:33Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>tldr</string>
						<string>tldr;</string>
						<string>man pages</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/tldr#readme</string>
					<key>authorLinkText</key>
					<string>Moddus</string>
					<key>name</key>
					<string>tldr pages</string>
					<key>platform</key>
					<string>usercontribtldr</string>
					<key>uniqueIdentifier</key>
					<string>tldr</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>Kotlin</key>
			<dict>
				<key>date</key>
				<date>2021-01-20T11:43:45Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Kotlin#readme</string>
					<key>authorLinkText</key>
					<string>Alexander Ronald Altman</string>
					<key>name</key>
					<string>Kotlin</string>
					<key>platform</key>
					<string>usercontribKotlin</string>
					<key>uniqueIdentifier</key>
					<string>Kotlin</string>
				</dict>
			</dict>
			<key>Kubernetes</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>kubernetes</string>
						<string>kubectl</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Kubernetes#readme</string>
					<key>authorLinkText</key>
					<string>John Patterson</string>
					<key>name</key>
					<string>Kubernetes</string>
					<key>platform</key>
					<string>usercontribKubernetes</string>
					<key>uniqueIdentifier</key>
					<string>Kubernetes</string>
				</dict>
			</dict>
			<key>Requests-html</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:01Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Requests-html#readme</string>
					<key>authorLinkText</key>
					<string>AllanLRH</string>
					<key>name</key>
					<string>Requests-HTML</string>
					<key>platform</key>
					<string>usercontribRequests-html</string>
					<key>uniqueIdentifier</key>
					<string>Requests-html</string>
				</dict>
			</dict>
			<key>RuboCop</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:24:33Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Rubocop</string>
						<string>rubocop</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/RuboCop#readme</string>
					<key>authorLinkText</key>
					<string>Étienne Deparis</string>
					<key>name</key>
					<string>RuboCop</string>
					<key>platform</key>
					<string>usercontribRuboCop</string>
					<key>uniqueIdentifier</key>
					<string>RuboCop</string>
				</dict>
			</dict>
			<key>Tailwind_CSS</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:24:36Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>tailwind</string>
						<string>TailwindCSS</string>
						<string>tailwind CSS</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Tailwind_CSS#readme</string>
					<key>authorLinkText</key>
					<string>Ben Booth, Guill Lo</string>
					<key>name</key>
					<string>Tailwind CSS</string>
					<key>platform</key>
					<string>usercontribTailwind_CSS</string>
					<key>uniqueIdentifier</key>
					<string>Tailwind_CSS</string>
				</dict>
			</dict>
			<key>Yarn</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Yarn#readme</string>
					<key>authorLinkText</key>
					<string>Phill Ayers</string>
					<key>name</key>
					<string>Yarn</string>
					<key>platform</key>
					<string>usercontribYarn</string>
					<key>uniqueIdentifier</key>
					<string>Yarn</string>
				</dict>
			</dict>
			<key>Zsh</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Zsh#readme</string>
					<key>authorLinkText</key>
					<string>Marcus Adair</string>
					<key>name</key>
					<string>Zsh</string>
					<key>platform</key>
					<string>usercontribZsh</string>
					<key>uniqueIdentifier</key>
					<string>Zsh</string>
				</dict>
			</dict>
			<key>json-schema</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:25:16Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>JSON</string>
						<string>schema</string>
						<string>validation</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/json-schema#readme</string>
					<key>authorLinkText</key>
					<string>純</string>
					<key>name</key>
					<string>json-schema</string>
					<key>platform</key>
					<string>usercontribjson-schema</string>
					<key>uniqueIdentifier</key>
					<string>json-schema</string>
				</dict>
			</dict>
			<key>webpack</key>
			<dict>
				<key>date</key>
				<date>2021-03-10T12:15:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>web pack</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/webpack#readme</string>
					<key>authorLinkText</key>
					<string>Matija Marohnić, Guill Lo</string>
					<key>name</key>
					<string>webpack</string>
					<key>platform</key>
					<string>usercontribwebpack</string>
					<key>uniqueIdentifier</key>
					<string>webpack</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHWKWebViewTextSizeMultiplier</key>
	<real>1.1499998569488525</real>
	<key>actuallyDarkWebView</key>
	<false/>
	<key>bookmarks</key>
	<array>
		<dict>
			<key>path</key>
			<string>file://~/Library/Application%20Support/Dash/DocSets/Ruby_on_Rails_6/Ruby%20on%20Rails.docset/Contents/Resources/Documents/api.rubyonrails.org/classes/ActiveRecord/DelegatedType.html</string>
			<key>platformImagePath</key>
			<string>rails</string>
			<key>title</key>
			<string>ActiveRecord::DelegatedType</string>
		</dict>
	</array>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict/>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:14:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_3.xml</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:12:49Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_6.xml</key>
			<dict>
				<key>date</key>
				<date>2021-08-02T11:12:33Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-03-17T13:57:20Z</date>
			</dict>
			<key>http://kapeli.com/feeds/EmberJS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-03-17T13:57:20Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>menuIconBehavior</key>
	<integer>1</integer>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>icon</key>
			<string>Dash</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/Versioned DocSets/Ruby on Rails 5 - DHDocsetDownloader/5-2-4/Ruby on Rails.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Ruby_on_Rails_6/Ruby on Rails.docset</string>
				<string>~/Library/Application Support/Dash/Versioned DocSets/Ruby on Rails 6 - DHDocsetDownloader/6-1-2-1/Ruby on Rails.docset</string>
				<string>~/Library/Application Support/Dash/Versioned DocSets/Ruby 2 - DHDocsetDownloader/2-7-2/Ruby.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Ruby_3/Ruby.docset</string>
			</array>
			<key>icon</key>
			<string>rails</string>
			<key>name</key>
			<string>Ruby &amp; Rails</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</string>
				<string>~/Library/Application Support/Dash/Versioned DocSets/EmberJS - DHDocsetDownloader/3-20/EmberJS.docset</string>
			</array>
			<key>icon</key>
			<string>javascript</string>
			<key>name</key>
			<string>Javascript</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<false/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showDisabledDocsets</key>
	<false/>
	<key>showInDock</key>
	<true/>
	<key>sortDocsetsAlphabetically</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>capybara</key>
			<dict>
				<key>3.34.0</key>
				<dict>
					<key>date</key>
					<date>2021-08-02T11:12:05Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>capybara</string>
						<key>platform</key>
						<string>rubyGems</string>
						<key>uniqueIdentifier</key>
						<string>capybara</string>
					</dict>
				</dict>
			</dict>
			<key>rspec-rails</key>
			<dict>
				<key>4.0.2</key>
				<dict>
					<key>date</key>
					<date>2021-08-02T11:12:00Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>rspec-rails</string>
						<key>platform</key>
						<string>rubyGems</string>
						<key>uniqueIdentifier</key>
						<string>rspec-rails</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/EmberJS.xml</key>
			<dict>
				<key>3.20</key>
				<dict>
					<key>date</key>
					<date>2021-08-02T11:12:32Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_2.xml</key>
			<dict>
				<key>2.7.2</key>
				<dict>
					<key>date</key>
					<date>2021-08-02T11:12:42Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_5.xml</key>
			<dict>
				<key>5.0.2</key>
				<dict>
					<key>date</key>
					<date>2021-08-05T10:15:42Z</date>
				</dict>
				<key>5.2.4</key>
				<dict>
					<key>date</key>
					<date>2021-08-02T11:12:33Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_6.xml</key>
			<dict/>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Ruby_2.xml</key>
			<dict>
				<key>2.6.5</key>
				<dict>
					<key>date</key>
					<date>2020-12-12T09:28:51Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_5.xml</key>
			<dict/>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_6.xml</key>
			<dict>
				<key>6.1.2.1</key>
				<dict>
					<key>date</key>
					<date>2021-03-10T12:26:42Z</date>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
</dict>
</plist>
